body{
    margin: 0 ;
}
table{
    width: 100%;
    height: 100%;
    border-spacing: 1.5vh 1vh;
}
.tr1{   
    height: 10vh;
}
.tr2{  
    height: 40vh;
}
.tr3{   
    height: 25vh;
}
.td4{    
    height: 18vh;
}
.td1{
    background: red;
}
.td2{
    background: indigo;
}
.td3{
    background: orange;
}
.td4{
    background: green;
}