  
body{
    margin: 0;
    height: 100%;
}
.div1{
    padding-top: 1vh;
    height: 10vh;    
    padding-bottom: 3.5vh;
}
.div2{
    height: 34vh;
    padding-bottom: 3.5vh;
}
.div3{
    height: 26vh;
    padding-bottom: 3.5vh;
}
.div4{
    height: 18vh;
}
.bl1{
    height: 100%;
    width: 48%;
    background: red;
    float: left;
    margin-right: 1%;
    margin-left: 1%
}
.bl2{
    height: 100%;
    width: 98%;
    background: orange;   
    margin-left:1%; 
}
.bl3{
    height: 100%;
    width: 32%;
    background: green;
    float: left;   
    margin-left: 1%
}
.bl4{
    height: 100%;
    width: 23.75%;
    background: yellow;
    float: left;
    margin-left: 1%;
}